<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Klimawandelwebsite</title>
</head>
<body>
  
<header>
    <div class="logo">
        <a href=../index.html> <img src="../assets/images/LogoKW.jpg" alt="Hier ist das Logo der Website zu sehen"></a>
      </div>
      <h1><a href=../index.html>CO²-FOOTPRINT</a></h1>
<nav class="headnav" id="menu">
    <ul class="navbal">
      <li><a class="headnav" href="../index.html"><button>CO²-Emissionen</button></a></li>
      <li><a class="headnav" href="../content/aboutus.html"><button>Über uns</button></a></li>
    </ul>
  </nav>
</header>
</body>
</html>